# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# Runtime data
pids/
*.pid
*.seed

# Directory for instrumented libs
lib-cov/

# nyc test coverage
.nyc_output/

# IDE and editor files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
